:root{
    --azul-dnc: #0c70F2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --fonte-padrao: 'Inter';
}

body{
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 19.91%, rgba(12, 112, 242, 0.00) 24.84%), #303030;
    background-repeat: no-repeat;
    font-size: 18px;
}
    /* Menu superior */
    #menusuperior{
        background-color: var(--preto-dnc);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #BABABA;
    }

        #menusuperior button{
            margin-right: 5%;
            width: 80px;
            height: 39px;
            flex-shrink: 0;
            background: var(--azul-dnc);
            box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
            border: 0px;
            color: #FFFFFF;
            border-radius: 3px;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        }

        #menusuperior div a{
            color: #FFFFFF;
            text-decoration: none;
            font-size: 1.4em;
            font-weight: 600;
        }
        #menusuperior div a:hover{
            color: var(--cinza-hover);
        }

        #menu{
            display: flex;
            width: 45%;
            justify-content: space-around;
            align-items: center;
            margin-left: 5%;
        }

    /* Seção principal */
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

        header{
            color: #FFFFFF;
            font-family: var(--fonte-padrao);
        }

        header h1{
            font-size: 4.2em;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
        }

        header h2{
            font-size: 2.2em;
            font-weight: 700;
            text-align: center;
            margin-bottom: 100px;
        }

        header .inverteCor{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }

        /* Formulario */

    form{
        color: white;
        font-size: 1.8em;
        font-style: normal;
        font-weight: 600;
    }

        .formGroup{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 600px;
        }
        
        form input{
            border-radius: 10px;
            height: 30px;
            border: 0px;
            font-size: 1.2em;
            padding: 10px;
            background: rgba(255, 255, 255, 0.90);
        }

        form input::placeholder{
            color: rgba(57, 57, 57, 0.50);
            font-family: Inter;
            font-size: 0.8em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #checkboxs input{
            height: 15px;
            transform: scale(1.7);
        }

        #checkboxs label{
            font-size: 0.8em;
        }

        #checkboxs{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        form label{
            margin: 5px 0 5px 0;
        }

        input[type="submit"]{
            border-radius: 10px;
            background: rgba(12, 112, 242, 0.90);
            box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
            width: 100%;
            height: 50px;
            margin-top: 100px;
            color: white;
            font-size: 1.3em;
            padding: 0;
            cursor: pointer;
        }
      
    /* Estrutura do footer */

    footer{
        width: 100%;
        background-color: var(--azul-dnc);

    }

    footer .linha1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    footer h5{
        text-align: center;
        color: white;
        font-size: 1.7em;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background-color: var(--preto-dnc);
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 15px;
    }

    footer ul li{
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 1.7em;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 20px 0px 20px 0px;
    }

    footer ul li a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.90);
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    footer .endereco{
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 1.3em;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 30%;
    }

    footer .linha2{
        display: flex;
        justify-content: center;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 15px;
    }

    footer .linha2 a{
        color: rgba(255, 255, 255, 0.90);
        padding: 0px 15px 0px 15px;
        text-decoration: none;
    }

    footer .linha2 a:first-child{
        border-right: 3px solid white;
    }

    footer .linha2 a:hover{
        color: var(--cinza-hover);
    }

    @media only screen and (max-width: 600px) {
        body{
            font-size: 8px;
        }
        #menusuperior{ 
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-left: 0%;
        }
        #menu{
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 10px 0px 0px 0px;
        }
        #menusuperior div a{
            height: 25px;
        }
        #menusuperior button{
            margin-right: 0%;
            margin-bottom: 10px;
            height: 25px;
        }
        section{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        header .inverteCor{
            padding: 1px;
        }
        .formGroup{
            margin-top: 15px;
            margin-bottom: 15px;
            width: 300px;
        }

        form input{
            height: 20px;
            border: 0px;
            padding: 4px;
            background: rgba(255, 255, 255, 0.90);
            
        }
        footer nav{
            height: auto;
        }

        header h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        header h2{
            margin-bottom: 20px;
        }

        input[type="submit"]{
            margin: 10px 0px 10px 0px;
        }


    }
